---
layout: default
title: ELF的秘密基地
page-title: plxd1106.gitee.io
home-title: 微博@SuperJunior1106_怦蓝心动打投组
description: 偶尔营业，专注搞蓝。那些很冒险的梦，我们陪你一起肝。

---

{% include header.html %}
{% include boot.html %}
<br>
<br>
<br>
<br>


<main>
    
  
    <br>
    <br>
    <br>
   
    
    <ul class="ex-list">
        <li class="fadeInUp animated">
        {% if site.author %}
          <div class="portraits"><img src="{{ site.portraits }}" alt=""></div>
          <span id="yourname">{{ site.name }}</span>
          <span id="yourbio">{{ site.bio }}</span>
          {% if site.about %}
            <span id="aboutyou">{{ site.aboutyou }}下方是我们的备用站及微博，有空或者有问题都可以来微博找我们玩。手机版看教程请点开右上小方块查看。</span>
            <br>
          {% endif %}
        {% endif %}
        {% if site.SNS %}
          {% for sns-icon in site.SNS-icon %}
            <a href="{{ sns-icon[1] }}" title="{{ sns-icon[0] }}">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-{{ sns-icon[0] }}"></use>
              </svg>
            </a>
          {% endfor%}
        {% endif %}
     
    </ul>

    <ul class="ex-list">
      <li class="fadeInUp animated">
        <p><span>近期回归日程</span></p>
        <p><span>2020年09月??日 Super Junior-D&E 第四张专辑</span></p>
        <p><span>2020年11月06日 Super Junior 15周年纪念专辑</span></p>
        <p><a href="https://plxd05.gitee.io/2005/11/06/%E7%AC%AC%E4%B8%80%E6%AC%A1%E8%B5%B6%E4%B8%8A%E5%9B%9E%E5%BD%92%E6%9C%9F%E5%BA%94%E8%AF%A5%E5%81%9A%E4%BB%80%E4%B9%88.html" class="button">回归期应该做什么</a></p>
        <a href="https://plxd05.gitee.io/tags.html" class="button">往期教程整理</a>
      
      </li>

  </ul>
</main>
{% include footer.html %}

